<section class="w-75 mx-auto  p-3  my-2" *ngIf="cartDetails;else msg">


    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bolder">Shop Cart</h1>
        <div class="d-flex flex-column">
            <p class="text-main">
                Total Price : {{ cartDetails.totalCartPrice | currency:'EUR' }}
            </p>
            <button (click)="clear()" class="btn btn-danger ms-auto">Clear Cart</button>
        </div>
    </div>




    <div class="row border-bottom p-2 my-3 shadow rounded-3" *ngFor="let item of cartDetails.products">


        <div class="col-md-1">

            <img [src]="item.product.imageCover" class="w-100" alt="">
        </div>


        <div class="col-md-11">
            <div class="d-flex justify-content-between align-items-center">

                <!-- details -->
                <div>
                    <h3 class="h5 ">{{ item.product.title | cuttext:2 }}</h3>
                    <p class="text-main m-0"> <span class="text-dark">Price</span> : {{ item.price }}</p>
                    <button #btnRemove (click)="removeCartItem(item.product._id,btnRemove)" class="btn p-0 m-0 text-main remove-hover"><i class="fa-regular fa-trash-can"></i> Remove</button>
                </div>

                <!-- buttns -->
                <div>
                    <button #btn1 (click)="changeCount(item.product._id,item.count+1,btn1,btn2)" class="btn  btn-success "><i class="fa-solid fa-plus"></i></button>
                    <span> {{ item.count }} </span>
                    <button #btn2 (click)="changeCount(item.product._id,item.count-1,btn1,btn2)" class="btn  btn-success"><i class="fa-solid fa-minus"></i></button>

                </div>
            </div>

        </div>
    </div>
    <button [routerLink]="['/payment',cartDetails._id]" class="main-btn my-2">onlinePayment <img src="./assets/images/visa-1.svg" alt="visa"></button>
</section>

<!-- [routerLink]="['/checkout', cartDetails._id]" -->


<ng-template #msg>
    <div class="d-flex justify-content-center align-items-center">
        <img src="./assets/images/cartttempty.jpg" height="500" alt="empty-cart">

    </div>
</ng-template>