<section class="shadow p-4 rounded my-3 w-50 mx-auto my-4">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">

        <h1 class="h3 fw-bolder">Update Password</h1>


        <div>
            <label for="currentPassword">Current Password</label>
            <input type="password" #inputcurrentPassword class="form-control" id="currentPassword" formControlName="currentPassword" />
            <div *ngIf="updatePasswordForm.get('currentPassword')?.errors && (updatePasswordForm.get('currentPassword')?.touched || inputcurrentPassword.value.length > 0 )">
                <p class="text-red" *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')">currentPassword Is required</p>
            </div>
        </div>

        <div>
            <label for="password">New Password</label>
            <input type="password" #inputpassword class="form-control" id="password" formControlName="password" />
            <div *ngIf="updatePasswordForm.get('password')?.errors && (updatePasswordForm.get('password')?.touched || inputpassword.value.length > 0 )">
                <p class="text-red" *ngIf="updatePasswordForm.get('password')?.getError('required')">password Is required</p>
                <p class="text-red" *ngIf="updatePasswordForm.get('password')?.getError('pattern')">password must start with upperCase then from 6 to 20</p>
            </div>
        </div>

        <div>
            <label for="rePassword">RePassword</label>
            <input type="password" #inputrePassword class="form-control" id="rePassword" formControlName="rePassword" />
            <div *ngIf="updatePasswordForm.get('rePassword')?.errors && (updatePasswordForm.get('rePassword')?.touched || inputrePassword.value.length)">
                <p class="text-red" *ngIf="updatePasswordForm.get('rePassword')?.getError('required')">rePassword Is required</p>
                <p class="text-red" *ngIf="updatePasswordForm.get('rePassword')?.getError('mismatch')">rePassword doesn't match</p>
            </div>
        </div>

        <p *ngIf="msgError" class="text-error">{{ msgError }}</p>

        <button class="main-btn mt-3 ms-auto d-block"> <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>Update</button>



    </form>

</section>