/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145,
158,
171,
0.2) 0px 2px 4px -1px,
rgba(145,
158,
171,
0.14) 0px 4px 5px 0px,
rgba(145,
158,
171,
0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded",
sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $light-color;
}

::-webkit-scrollbar-thumb {
    background-color: #049704f7;
    border-radius: 50px;
    box-shadow: 0 0 20px 50px #049704f7;
    border-radius: 2px;
}

.nav-link {
    transition: unset !important;
}

.active-link {
    background-color: $main-color;
    color: #fff !important;
    border-radius: 5px;
}

body {
    font-family: $font-family;
}

.rating-color {
    color: $rating-color;
}

.cursor-pointer {
    cursor: pointer;
}

.font-sm {
    font-size: 12px;
}

.text-main {
    color: $main-color;
}

.text-main-light {
    color: $light-color;
}

.bg-main {
    background-color: $main-color !important;
}

.bg-main-light {
    background-color: $light-color !important;
}

$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145,
158,
171,
0.2) 0px 2px 4px -1px,
rgba(145,
158,
171,
0.14) 0px 4px 5px 0px,
rgba(145,
158,
171,
0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded",
sans-serif;
$rating-color: #ffc908;
.main-btn {
    background-color: $main-color;
    padding: 3px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
    &:disabled {
        cursor: not-allowed;
        background-color: #ccc;
        &:hover {
            background-color: #ccc;
        }
    }
    &:hover {
        background-color: #11bd11;
    }
}

.product {
    border-radius: 5px;
    border: solid 1px $main-color;
    transition: box-shadow 0.5s;
    overflow: hidden;
    position: relative;
    .heart {
        font-size: 30px;
        color: red;
        position: absolute;
        top: -50px;
        right: 5px;
        z-index: 99;
        cursor: pointer;
        transition: top 1s ease;
    }
    &:hover {
        box-shadow: 0 0 10px rgba(17, 189, 17, 0.4);
        .heart {
            top: 5px;
        }
    }
    .main-btn {
        transform: translateY(150%);
        transition: transform 1s ease;
    }
    &:hover .main-btn {
        transform: translateY(0);
    }
}

.ngx-pagination .current {
    background: #0aad0a !important;
    border-radius: 5px !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #dafada !important;
    border-radius: 5px !important;
    color: $main-color !important;
}

.ngx-pagination a,
.ngx-pagination button {
    color: #18aa1c !important;
}

.toast-success {
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
}

.active-link {
    color: #fff !important;
    background-color: $main-color !important;
    border-radius: 5px !important;
}

li {
    cursor: pointer;
}

.text-grey {
    color: rgb(111, 110, 110);
}

input:focus {
    box-shadow: none !important;
    border-color: $main-color !important;
}

.text-red {
    color: red;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.text-green {
    color: $main-color;
}

.text-error {
    color: rgb(251, 249, 249);
    margin-top: 10px;
    padding: 5px 15px;
    background-color: rgb(39, 34, 34);
    width: fit-content;
    border-radius: 5px;
}